body{
	
}

ul {
	list-style: none;
	padding-left: 0px

}

.list li {
	background-color: gray;
	padding: 1em;
	margin: .5em;	
}

.favorites li {
	background-color: gray;
	padding: 1em;
	margin: .5em;	
}

