<!DOCTYPE html>

<html>
<head>
	<title>OMDB Favorite</title>
	<link rel="stylesheet" type="text/css" href="/style/style.css">
</head>
<body>
	<ul class=favorites>	
	<% movieArray.forEach(function(movie){ %>
		<li>
			<a href="movie/<%=movie.id %>">
				<%=movie.title %> <%=movie.id %>
			</a>
			<form>
				<input type="submit" value="Unfavorite">
			</form>
		</li>	
	<% }) %>
	</ul>
</body>
</html>