<!doctype html>
<html>
  <head>
    <title>OMDB API Example</title>
    <link rel="stylesheet" type="text/css" href="/style/style.css">
  </head>
  <body>
  	<form action="/search">
	    <input type="text" name="searchTerm">
	    <input type="submit" value="Submit">
    </form>
  </body>
</html>
