<!doctype html>
<html>
  <head>
    <title>Movie Search Results</title>
    <link rel="stylesheet" type="text/css" href="/style/style.css">
  </head>
  <body>
    <ul>
    	<% movieList.forEach(function(movie, index){ %>
    	<li><div class=list><%= movie.Title %></div></li>
		<% }) %>
    </ul>
  </body>
</html>
