<!doctype html>
<html>
  <head>
    <title>Movie Search Results</title>
    <link rel="stylesheet" type="text/css" href="/style/style.css">
  </head>
  <body>
    <ul>
      <div class=list>
      	<% movieList.forEach(function(movie, index){ %>
      	<li><a href="movie/<%= movie.imdbID %>"><%= movie.Title %></a></li>
  		<% }) %>
      </div>
    </ul>
  </body>
</html>
